.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-box{
  width: 35%;
  margin: 2% auto;
  background-color: #f4f4f4;
  /* min-height: 70vh; */
  box-shadow: 1px 1px 5px 2px darkgrey;
  border-radius: 6px;
  padding: 20px;
}

.heading{
  color: #ff6c34;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1px;
}

.row-1{
  margin-top: 2px;
}

.age-section{
  /* width: 20%; */
  /* float: left; */
  padding: 5px;
}

#wrapper{
  background-image: linear-gradient(to top, rgba(79,134,240,0.839), rgba(79,134,240,0.839)),url(./vaccine.jpg);
  /* background-image: linear-gradient(to top, #8abe06, #333333  ), url(./vaccine.jpg); */
  /* justify-content: center; */
    /* min-height: 60vh; */
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.info-section{
  text-align: center;
  margin: 4% auto 1%;
  color: #fff;
}

.info-section-head{
  /* font-size: 32px;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin-bottom: 10px; */

  color: #FFFFFF;
    font-family: 'Noto Serif', serif;
    letter-spacing: -0.125rem;
    width: 100%;
    font-size: 58px;
    line-height: 1.125;
    font-weight: 700;
    margin-bottom: 5px;
}

.label{
  font-weight: 500;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 1390px) and (min-width:1350px) {
  .flex-container {
    /* flex-direction: column !important; */
    width: 35% !important;
  }
}

@media screen and (max-width: 1350px) and (min-width:1280px) {
  .flex-container {
    /* flex-direction: column !important; */
    width: 37% !important;
  }
}

@media screen and (max-width: 1280px) and (min-width:1243px) {
  .flex-container {
    /* flex-direction: column !important; */
    width: 38% !important;
  }
}

@media screen and (max-width: 1243px) and (min-width:1212px) {
  .flex-container {
    /* flex-direction: column !important; */
    width: 39% !important;
  }
}

@media screen and (max-width: 1212px) and (min-width:768px) {
  .flex-container {
    /* flex-direction: column !important; */
    width: 60% !important;
  }
}



@media screen and (max-width: 768px) {

  .main-box{
  width: 80%;
  margin: 3% auto;
  background-color: #f4f4f4;
  /* min-height: 70vh; */
  box-shadow: 1px 1px 5px 2px darkgrey;
  border-radius: 6px;
  padding: 20px;
}

.flex-container {
  /* flex-direction: column !important; */
  width: 75% !important;
}

.modal-main{
  width: 80% !important
}
}

@media screen and (max-width: 500px) {
  .flex-container {
    flex-direction: column !important;
    width: 75% !important;
  }
}

@media screen and (max-width: 425px) {

  .info-section-head{
    /* font-size: 32px;
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin-bottom: 10px; */
  
    color: #FFFFFF;
      font-family: 'Noto Serif', serif;
      letter-spacing: -0.025rem;
      width: 100%;
      font-size: 42px;
      line-height: 1.125;
      font-weight: 700;
      margin-bottom: 5px;
  }

  .modal-main{
    width: 80% !important
  }
}

#animated_div{
  background: '#ff6c34';
   color: '#fff';
  border-radius: '6px'; 
  border: 'solid 2px 3ff6c34'; 
  letter-spacing: '0.8px'; 
  padding: '4px 10px';
  cursor: default;



  /* width: 70px;
  height: 47px; */
  /* background: #92B901; */
  color: #ffffff;
  position: relative;
  font-weight: bold;
  /* font-size: 20px; */
  /* padding: 10px; */
  animation: animated_div 5s infinite;
  -moz-animation: animated_div 5s infinite;
  -webkit-animation: animated_div 5s infinite;
  -o-animation: animated_div 5s infinite;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  /* animation-duration: infinite; */
}


@keyframes animated_div {
  0% {
    transform: rotate(
0deg
);
    left: 0px;
}
25% {
    transform: rotate(
20deg
);
    left: 0px;
}
50% {
    transform: rotate(
0deg
);
    left: calc(100% - 195px);
}
55% {
    transform: rotate(
0deg
);
    left: calc(100% - 195px);
}
70% {
    transform: rotate(
0deg
);
    left: calc(100% - 195px);
    background: #1ec7e6;
}
100% {
    transform: rotate(
-360deg
);
    left: 0px;
}
}













.close-btn{
  float: right;
  /* border-radius:5%;
  background: #fff;
  box-shadow: 2px 2px 3px 5px #f4f4f4; */

  background: '#ff6c34';
  color: '#fff';
  border-radius: '6px'; 
  border: 'solid 2px 3ff6c34';
  letter-spacing: '0.8px';
  padding: '4px 10px'
}

.btn-hover{
  cursor: pointer;
}

.analytics-card{
  padding: 5%;
    box-shadow: 1px 1px 5px 1px grey;
    margin: 0% 5% 10% 5%;
    border-radius: 10px;
}

.ana-details{
  margin-bottom: 10px;
  padding: 0% 3%;
  border-bottom: solid 1px #f4f4f4;
  border-radius: 7px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.hide-cancel-btn {
  display: none
}

.show-cancel-btn{
  display: block
}

.book-slot {
  margin-bottom: 10px;
  padding: 0% 3%;
  border-bottom: solid 1px #f4f4f4;
  border-radius: 7px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-align: end;
  padding: 5px;
  color: #fff
}

.book-slot-btn{
  border: solid 2px dimgrey;
  padding: 5px;
  border-radius: 5px;
  background: rgba(79,134,240,0.839);
  color: #fff;
}

.book-slot-btn:hover{

  color: #fff !important;

}

.creator{
  color: #fff !important;
  font-size: '16px' !important;
}
.creator:hover{
  cursor: pointer;
  text-decoration: underline !important;
}

.footer{
  font-size: '16px' !important;
  color: '#fff' !important; 
  margin: 'auto 1%';
  padding: '5px';
  text-align: center;

  /* float: 'right' */
}

.find_slot{
  color: #fff;
}
.find_slot:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #fff
}

.details-to-use{
  background: #fff;
    color: #000;
    /* width: 10%; */
    /* width: calc(100% - 1360px); */
    margin: 4px;
    border-radius: 5px;
    font-size: 16px;
    padding-bottom: 2px;
    padding: 10px;
  flex: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 34%;
  margin: auto;
  /* font-size: 16px; */
  text-align: center;
}

.ant-divider-horizontal{
  margin: 12px 0px !important;
}





/* Pin.js */

.search-box{
  display: flex;
  text-align: center;
}

.ant-tabs{
  align-items: center;
}

.ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 18px;
}

.ant-tabs-content-holder {
  width: 60%;
  margin-top: 20px;
}

.next-btn{
  margin-top: 20px;
  border-radius: 6px;
  background: #ff6c34;
  color: #fff;
  /* border: solid 2px #ff6c344; */
  letter-spacing: 0.8px; 
  padding: 4px 10px;
}

.ant-select{
  width: 100% !important;
}

.back-btn{
  float: right;
  padding: 0px 5px;
  border-radius: 6px;
  /* background: black; */
  background: rgba(79,134,240,0.839);
  color: #fff;
  box-shadow: -1px 0px 4px 1px lightgrey;
}

@media screen and (max-width:500px) {
  .ant-tabs-tab-btn {
    font-size: 16px !important;
  }
  .ant-tabs-content-holder {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-width:375px) {
  .ant-tabs-tab-btn {
    font-size: 12px !important;
  }
}